# Created by .ignore support plugin (hsz.mobi)

.gradle/
.idea/workspace.xml


build/android-profile/
poptabview_lib/build/

build/
gradle/
.idea/

local.properties
gradlew
gradlew.bat
PopsTabView.iml
poptabview_lib/doc
